<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgh.pro.mapper.FactoryMapper">

	<resultMap type="com.cgh.pro.domain.Factory" id="factoryRM">
		<id property="id" column="FACTORY_ID"/>
		<result property="fullName" column="FULL_NAME"/>
		<result property="factoryName" column="FACTORY_NAME"/>
		<result property="contacts" column="CONTACTS"/>
		<result property="phone" column="PHONE"/>
		<result property="mobile" column="MOBILE"/>
		<result property="fax" column="FAX"/>
		<result property="inspector" column="INSPECTOR"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="cnote" column="CNOTE"/>
		<result property="createBy" column="CREATE_BY"/>
		<result property="createDept" column="CREATE_DEPT"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="find" parameterType="map" resultMap="factoryRM">
		select * from FACTORY_C
		where 1=1
		order by ORDER_NO
	</select>
	
	<!--保存  -->
	<insert id="insert" parameterType="com.cgh.pro.domain.Factory">
		insert into FACTORY_C
		(FACTORY_ID,FULL_NAME,FACTORY_NAME,CONTACTS,PHONE,MOBILE,FAX,INSPECTOR,ORDER_NO,CNOTE,CREATE_BY,CREATE_DEPT,CREATE_TIME)
		values(
				#{id,jdbcType=VARCHAR},
				#{fullName,jdbcType=VARCHAR},
				#{factoryName,jdbcType=VARCHAR},
				#{contacts,jdbcType=VARCHAR},
				#{phone,jdbcType=VARCHAR},
				#{mobile,jdbcType=VARCHAR},
				#{fax,jdbcType=VARCHAR},
				#{inspector,jdbcType=VARCHAR},
				#{orderNo,jdbcType=INTEGER},
				#{cnote,jdbcType=VARCHAR},
				#{createBy,jdbcType=VARCHAR},
				#{createDept,jdbcType=VARCHAR},
				#{createTime,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- id查询 -->
	<select id="get" parameterType="string" resultMap="factoryRM">
		SELECT * FROM FACTORY_C
		WHERE FACTORY_ID=#{pid}
	
	</select>
	
	<!--更新  -->
	<update id="update" parameterType="com.cgh.pro.domain.Factory">
		update FACTORY_C
		<set>
			<if test="fullName!=null">FULL_NAME=#{fullName,jdbcType=VARCHAR},</if>
			<if test="factoryName!=null">FACTORY_NAME=#{factoryName,jdbcType=VARCHAR},</if>
			<if test="contacts!=null">CONTACTS=#{contacts,jdbcType=VARCHAR},</if>
			<if test="phone!=null">PHONE=#{phone,jdbcType=VARCHAR},</if>
			<if test="mobile!=null">MOBILE=#{mobile,jdbcType=VARCHAR},</if>
			<if test="fax!=null">FAX=#{fax,jdbcType=VARCHAR},</if>
			<if test="inspector!=null">INSPECTOR=#{inspector,jdbcType=VARCHAR},</if>
			<if test="orderNo!=null">ORDER_NO=#{orderNo,jdbcType=INTEGER},</if>
			<if test="cnote!=null">CNOTE=#{cnote,jdbcType=VARCHAR},</if>
			<if test="createBy!=null">CREATE_BY=#{createBy,jdbcType=VARCHAR},</if>
			<if test="createDept!=null">CREATE_DEPT=#{createDept,jdbcType=VARCHAR},</if>
			<if test="createTime!=null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},</if>
		</set>
		where FACTORY_ID=#{id}
	</update>
	
	<delete id="deleteById" parameterType="string">
		delete from FACTORY_C
		where FACTORY_ID=#{pid}
	</delete>
	
	<delete id="delete" parameterType="string">
		delete from FACTORY_C
		where FACTORY_ID in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
</mapper>